/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "partials/all";

//Make the font BIG



#content, #header_container {
    width: $gridRowWidth; 
    margin: 0px auto;
    clear: both;

}

#header {
    font-size: 12px;
    height: 50px;

    ul {
       list-style-type: none;
       li {
         float: left;
         padding: 1px 5px;
       }
    }

}

/*
    presentation specific stuff
*/

.colleague {
    @extend .well;
    .name {
        font-weight: bold;
    }
}
#me {
        font-weight: bold;
}

ol.linenums {
    margin-left: 55px;
    li {
        line-height: 22px;
        padding: 3px 0px;
    }
}


