<div class="colleague">
    <p>{{first_name}} {{last_name}}</p>
    <p>Presenting: 
        {{#presenting}} 
            yes 
        {{/presenting}}
        {{^presenting}} 
            No 
        {{/presenting}}
    </p>
</div>