{{#nav}}
    {{#prev}}
        <li id="prev"><a href="?url={{prev}}" data-template="{{prev_data_template}}">Prev</a></li>
    {{/prev}}

    {{#next}}
        <li id="next"><a href="?url={{next}}" data-template="{{next_data_template}}">Next</a></li>
    {{/next}}
{{/nav}}
