<script type="text/javascript">
    {{#template_code}}var code_layout_template = "{{{template_code}}}"; //make sure you have escaped the quotes{{/template_code}}
    
    {{#data}}var code_layout_json = {{{data}}};{{/data}}
</script>

{{#headline}}
<h2>{{headline}}</h2>
{{/headline}}

{{#subhead}}
<h4>{{subhead}}</h4>
{{/subhead}}

<div class="row">

    
    <ul class="nav nav-tabs">
        <li class="active"><a href="#template" data-toggle="tab">Template</a></li>
        <li><a href="#data" data-toggle="tab">Data</a></li>
    </ul>
    <div class="tab-content">
        <div class="span12 tab-pane active" id="template">
            <pre class="html prettyprint">{{template_display_code}}</pre>
        </div>

        <div class="span12 tab-pane" id="data">
            <pre class="js" id="json_data">{{data}}</pre>
        </div>


        </div>
    </div>

<div class="row">
    <div class="span8 offset2">
        <h3>Result</h3>
        <a href="#" id ="render-template" class="btn btn-primary">Render the template</a>


        <div id="result">
            &nbsp;
        </div>
    </div>

</div>
