<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{title}}</title>
    
    <link rel="stylesheet" type="text/css" href="style/stylesheets/screen.css" />
    
    <script src="js/jquery.js"></script>
    <script src="js/mustache/mustache.js"></script>
    <script src="js/chili/src/chili-2.2.js"></script>
    <script src="js/chili/src/recipes.js"></script>
    <script src="js/app.js"></script>
    <script src="js/templates.js"></script>
    
    
    
    {{{scripts}}} <!-- If there are additional scripts! -->
</head>

<body>
    
    
    <div id="container">
    
            <!-- BEGIN HEADER -->
            <div id="header_container">
                <div id="header">
                    <ul id="nav">
                    {{#links}}
                        <li><a href="?url={{url}}">{{title}}</a></li>
                    {{/links}}
                    
                    {{>_next_prev}}
                    </ul>
                </div>
            </div>
            <!-- END HEADER -->
  
            <!-- make sure content isn't excaped! -->
        <div id="content">
            {{{content}}}
            
        </div>
    </div>


</body>

</html>